*{
    margin: 0;
    padding: 0;
}


body{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px; /* esse é o tamanho da letra*/
    color:white;
    background-color: #5d5d88;
    margin-top: 2%;
 
    
}


form{
    background-color: #2C2C4B;
    width: 500px;

}
#name,#email,#age{
    padding: 0.2em;
    height: 30px;
    width: 600px;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    font-size: 18px;
    border-radius: 10px;
}

    
header{
    text-align: center;
    background-color:#5d5d88 ;
    height: 100px;
    margin-bottom: 10px;
    padding: 50px 50px 50px 50px;
   
}
fieldset{ 
    background-color:#2A2A49  ;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: transform 300ms;}
    
    
    

fieldset:hover{
background:#23233d ;
}

input,select,textarea,button{
    border-radius: 3px;
 }

 .campo input [type="text"], .campo input [type="email"],.campo input [type="number"],.campo select
{
    padding: 0.2em;
    height: 50px;
    width: 600px;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    font-size: 18px;
    
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background-color: #e0e0f8;}

 .campo{
     margin-bottom: 1em;
 }/* para selecionar as classes colocasse o .*/

.botao{
    width: 650px;
    height: 50px;
    background:rgb(97, 212, 82);
    text-align: center;
    top: 50%;
    position:relative;
    display:inline-block;
    justify-content: center;
    align-items:center;
    color: white;
}
.botao:hover{
    background:rgb(16, 233, 12);
    box-shadow: 1px 1px 1px rgb(30, 206, 30);
    text-shadow: none;
    
}
