*{
    margin: 0;
    padding: 0;
    color: white;
    background-color:  rgb(61, 61, 61);
    
}
header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    
    margin-left: 1000px;

}
a{
    text-decoration: none;
   
}
main{
    text-align: center;
}
label{
    font-size: 105px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 100px;
    margin-left: 10px;

}
#tfheader{
    padding: 70px;
}
#search{
    width: 500px;
    background-color: rgb(124, 121, 121);
    height: 30px;
    margin: 15px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
    border-radius: 50px;
    align-items: center;
}
button{
    padding: 10px;
    border-radius: 5px;
    opacity: 1px;   
}
#search:hover{
    background-color: rgb(48, 48, 49);
}
.parte1{
    position: absolute;
    bottom: 0;
    background-color: rgb(40, 40, 41);
    width: 100%;
    height: 100px;    
    text-align: left;
    line-height: 150px;
    padding: 1x;
}




