*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body{
    
    font-family:monospace;
    color:black;
    background-color:white;
    margin-top: 15%;
    font-size: 15px;
 
}
p{
    padding-bottom: 20px;
    text-align: center;
}
h1{
    text-align: center;
    font-weight: bold;
}
a{
    text-align: right;
    display: block;
}
input{
    margin-top: 30px;
    border-radius: 3px;
}

#nome,#senha{
    padding: 0.2em;
    height: 30px;
    width: 300px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 3px;
    margin-top: 10px;
}

fieldset{ 
    background-color:white  ;
    padding: 100px 100px 50px 100px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: transform 300ms;}
    

    #botao{
        width: 130px;
        height: 40px;
        background:rgb(123, 32, 207);
        text-align: center;
        top: 50%;
        position:relative;
        display:inline-block;
        justify-content: center;
        align-items:center;
        color: white;
        
    }
   .formulario input[type="text"]{
       background-color: rgb(255, 255, 255);
       padding: 0.2em;
       height: 100%;
       width: 80%;
       border: 1px solid #59429d;
       box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
       background: transparent;
     
   }
 #botao:hover{
    background:rgb(182, 12, 233);
    box-shadow: 1px 1px 1px rgb(156, 116, 179);
    text-shadow: none;
    
 }
 svg{
     margin-bottom: 30px;
    margin-left: 115px;
 }

 